.custom-toolbar {
  padding: 29px 30px 29px 20px;
  min-height: 80px;
  background-color: black;
}

.spacer {
  flex: 1 1 auto;
}

.email {
  margin-right: 65px;
}

span {
  color: white;
  font-size: 15px;
}

mat-icon {
  margin-right: 10px;
  color: white;
}
